/* General Selectors */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}
a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    opacity: 0.75;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Helvetica;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    border-top: 4px solid black;
    border-left: 4px solid black;
    /* overflow-y: scroll; */
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 95%;
    flex-grow: 1;
    overflow-y:hidden;
    /* position: sticky; */
    /* margin-bottom: 0.01px; */
}

/*navbar*/
nav{
    text-align: center;
    display: flex;
    /* position: sticky; */
}

nav p{
    text-transform: uppercase;
    flex-basis: 40%;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
}

#focus-header{
    flex-basis: 60%;
}


/* aboutme selectors */
#aboutme{
    flex-basis: 40%;
    text-justify: auto;
    padding: 20px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    /* position: sticky; */
    /* height: 100vh; */
    /* top: 0; */
}

#name{
    text-transform: uppercase;
    font-size: 2em;
    color: #003acc;
}


/* sidebar selectors */
#sidebar{
    flex-basis: 60%;
    text-align: left;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    height: 100%;
    overflow:scroll;
}

.post{
    padding: 20px;
}

.post h1{
    font-size: 1.5em;
}
.post h2{
    font-size: 1.25em;
}
.post p{
    margin: 10px 0 10px 10px;
}
blockquote{
    font-style: italic;
}


/* mobile behavior */
@media only screen and (min-device-width: 320px) and (max-device-width:480px){
    main{
        display: block;
    }
    #aboutme{
        display: none;
    }
}

