/* General Selectors */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}
a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    opacity: 0.75;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Helvetica;
    text-transform: lowercase;
    display: flex;
    flex-direction: column;
    border: 4px solid black;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 95%;
    flex-grow: 1;
}

/*navbar*/
nav{
    text-align: center;
    border-bottom: 4px solid black;
}

nav p{
    text-transform: uppercase;
}


/* aboutme selectors */
#aboutme{
    flex-basis: 75%;
    text-justify: auto;
    padding: 20px;
    border-right: 4px solid black;
}

#name{
    text-transform: uppercase;
    font-size: 2em;
    color: #003acc;
}


/* sidebar selectors */
#sidebar{
    flex-basis: 25%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

#top{
    flex-basis: 33%;
}

#top p{
    padding: 20px;
}

#bottom{
    padding: 20px;
    flex-grow: 1;
    border-top: 4px solid black;
}

#bottom a{
    text-decoration: none;
    color: black;
}

#bottom a:hover{
    opacity: 0.75;
}

/* mobile behavior */

@media only screen and (min-device-width: 320px) and (max-device-width:480px){
    main{
        flex-direction: column;
    }
    #aboutme{
        flex-basis: 40%;
        border-right: none;
        border-bottom: 4px solid black;
    }
    #sidebar{
        flex-basis: none;
        flex-grow: 1;
    }
}